@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowLinkedin:hover {
  box-shadow: 0 10px 20px rgba(29, 36, 252, 0.7);
}
.shadowGithub:hover {
  box-shadow: 0 10px 20px rgba(144, 29, 252, 0.7);
}
.shadowContratar {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
}

.shadowContratar:hover {
  box-shadow: 0px 20px 30px 10px #e98b4d;
}


.shadowButtonCardVisitar{
  box-shadow: 0px 0px 0px 0px #fff;
  transition: box-shadow .3s ease;
}
.shadowButtonCardVisitar:hover{
  box-shadow: 0px 8px 0px 0px #fff
}

.shadowButtonCardCodigo{
  box-shadow: 0px 0px 0px 0px #FD8D14;
  transition: box-shadow .3s ease;
}
.shadowButtonCardCodigo:hover{
  box-shadow: 0px 5px 0px 0px #FD8D14
}